:root {
    --primary-color: #135058;
    --primary-color-hover: #1b707b;
    --placeholder-color: #8E8E8E;
    --text-color: #343434;
    --background-color: #F4F4F4;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 20px;

    background: linear-gradient(89deg, #F1F2B5 0%, #135058 100%);
}

button {
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.modal {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

/* EDIT TODOS */

.edit-todo-container {
    display: none;
    position: relative;
    flex-direction: column;
    min-width: 280px;
    max-width: 800px;
    width: 100%;
    height: 200px;
    padding: 20px;

    border-radius: 5px;
    background: var(--background-color);
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;

    background-image: url('./assets/closeButton.svg');
}

.edit-todo-container h1 {
    color: var(--text-color);
    font-size: 2.4rem;
}

.edit-todo-container form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 36px;
}

.edit-todo-input {
    width: 100%;
    height: 40px;
    padding: 0 10px;

    border-radius: 5px;
    border: 2px solid var(--primary-color);
    background: #FFF;
    outline: var(--primary-color);
}

.edit-todo-input::placeholder {
    color: var(--placeholder-color);
    font-size: 1.4rem;
}

.edit-todo-input:focus {
    border: 2px solid var(--primary-color-hover);
}

.save-todo-button {
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100px;
    height: 30px;
    padding: 0 5px;

    border-radius: 5px;
    background-color: var(--primary-color);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    transition: 0.3s;
}

.save-todo-button i {
    width: 24px;
    height: 24px;

    background-image: url('./assets/editButtonHover.svg');
    background-position: center;
}

.save-todo-button:hover {
    background-color: var(--primary-color-hover);
}

/* APP */
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 280px;
    max-width: 800px;
    width: 100%;
    height: 90vh;
    padding: 20px 10px;

    border-radius: 5px;
    background: var(--background-color);
}

/* HEADER */
header {
    width: 100%;
}

header > form {
    position: relative;
    display: flex;
}

.todo-input {
    width: 100%;
    height: 40px;
    padding: 0 10px;

    border-radius: 5px;
    border: 2px solid var(--primary-color);
    outline: var(--primary-color);
    transition: 0.3s;

    color: var(--text-color);
    font-size: 1.4rem;
}

.todo-input::placeholder {
    color: var(--placeholder-color);
}

.todo-input:focus {
    border: 2px solid var(--primary-color-hover);
}

.add-todo-button {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;

    background-image: url('./assets/addButton.svg');
    transition: 0.3s;
}

.add-todo-button:hover {
    filter: brightness(1.4);
}

.todo-status {
    margin-top: 16px;
    display: flex;
    gap: 14px;

    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 600;
    list-style: none;
}

.todo-status li {
    padding: 3px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: 0.3s;
}

.todo-status li.active {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.todo-status li:hover {
    color: var(--primary-color);
    border-radius: 3px;
    border-bottom: 2px solid var(--primary-color);
}

/* TO-DO LIST */
.todo-container {
    width: 100%;
    margin-top: 40px;
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    color: var(--text-color);
    font-size: 1.2rem;
    list-style: none;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    width: 100%;
    height: 40px;
    padding: 0 10px;

    background-color: #FFFFFF;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    cursor: grabbing;
    transition: 0.3s;
}

.todo-item:hover {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

.todo-item p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.todo-item div {
    display: flex;
    gap: 5px;
}

.edit-todo-button {
    background-image: url('./assets/editButton.svg');
    transition: 0.3s;
}

.edit-todo-button:hover {
    filter: brightness(0.9);
}

.todo-item:hover .edit-todo-button {
    background-image: url('./assets/editButtonHover.svg');
    transition: 0.3s;
}

.delete-todo-button {
    background-image: url('./assets/deleteButton.svg');
}

.delete-todo-button:hover {
    filter: brightness(0.9);
}